.a1{
    color: rgb(221, 92, 0);
}
.a2{
    color: rgb(221, 92, 0);
    font-style: italic;
}
.a3{
    color: #2b7605;
}
.aa2{
text-decoration: underline;
font-style: italic;
}
.a4{
    color:rgb(221, 92, 0) ;
    font-style: italic;
}
.a5{
    color:#2b7605 ;
    letter-spacing: 3px;
}
.a6{
    color:#2b7605 ;
}
.a7{
    color:#2b7605 ;
}
.a8{
    color:#2b7605;
}
.a9{
    color:#2b7605 ;
}